lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store

dist\assets
pids
logs
results
# test coverage files
coverage/

node_modules
npm-debug.log

template/**/*.js
.idea/.name
.idea/bootstrap.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
